// =========
// u-color
// =========
.u-bgColor__leafgreen {
  background: $border-color_leafgreen;
  box-shadow: 0px 0px 5px 2px #ddd inset;

}
.u-bgColor__corp {
  background: $color-corp;
  box-shadow: 0px 0px 5px 2px #ddd inset;

}
