// ============
// p-modal
// ============
.p-modal {
  z-index: 5;
  box-sizing: border-box;
  position: fixed;
  background: $bg-color_leafgreen;
  border-radius: 4px;
  transition: .3s all;
  width: 60%;
  top: 10%;
  left: 20%;
  padding: $space_l $space_3l;
  // width: JSで決定
  @include mq($breakpoint: md){
    padding: $space_s $space_m;
    width: 90%;
    top: 15%;
    left: 5%;
  }
  @include mq(){
    padding: $space_s $space_m;
    width: 90%;
    top: 5%;
    left: auto;
  }
  &__hide {
    display: none;
  }

  &__cover {
    display: none;
    transition: .3s all;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    &--color-dark {
      background: $font-color_default;
      opacity: 0.5;
    }
  }
}
